.body{
    font-family: sans-serif;
}

.header-section{
    text-align: center;
}

.header-container{
    border: 10px solid black;
}

.about-section{
    text-align: center;
}

.wrapper{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    /* grid-column-gap: 1em ;
    grid-row-gap: 1em; */
    grid-gap: 1em;
    /* grid-auto-rows: 50px; */
    grid-auto-rows: minmax(50px, auto);
    color: white;
}

.wrapper > div{
    background-color: #af3e24;
    padding: 1em;
}

.wrapper > div:nth-child(odd){
    background-color: #6C93A9;
}
